<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!--website is optimized for mobile-->
    <title>ToNight</title>
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize.css, css -->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!--scrollbar-->
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  </head>
  <body style="background-color:black">
    <!--body div-->
    <div id ="body">
      <!--navbar-fixed-->
      <div class ="navbar-fixed">
        <nav class="" role="navigation">
          <div class ="nav-wrapper grey darken-4">
            <!--<a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;&nbsp;ToNight</a>logo넣기-->
            <a href="/" class="brand-logo"><img class="responsive-img" src="image/tonight.png"></a>
                <ul id ="" class="right hide-on-med-and-down">
                  <li><img class="selectprofile circle responsive-img" href ="#profile" src="<%- profileImg %>"/></li>
                  <li><a class="" href="/main">Main</a></li>
                  <li><a class="" href="/qrcode">QRcode</a></li>
                  <li><a class="" href="/exit">Exit</a></li>
                  <li><a class="" href="/charge">Charge</a></li>
                  <li><a class=" link link--yaku scroll" href="/history">History</a></li>
                  <li><a class ="" href="/logout">Logout</a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
          </div><!--//nav-wrapper-->
        </nav>
      </div>
      <!--//navbar-fixed-->
      <!--right slide-bar-->
      <div>
        <ul id="slide-out"class="side-nav blue-grey darken-4 right-aligned" >
          <li class="brown darken-4 C_userViewli">
            <div class="userView">
              <img class="selectprofile circle center-align" href ="#profile" src="<%- profileImg %>"/>
              <span class="email customemail"> <%- sessId %></span>
              <a class="customlogout" href ="/logout">logout</a>
            </div>
          </li>
          <li><a class="" href="/main">Main</a></li>
          <li><a class="" href="/qrcode">QRcode</a></li>
          <li><a class="" href="/exit">Exit</a></li>
          <li><a class="" href="/charge">Charge</a></li>
          <li><a class="" href="/history">History</a></li>
        </ul>
      </div>
      <!--//right slide-bar-->
      <!-- Modal profile Structure -->
      <form action="/uploadImg" method="post" enctype="multipart/form-data">
        <div id="profile" class="modal">
          <div class="modal-content">
            <h3>Profile Upload</h3>
            <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input type="file" name="userphoto">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat" value="변경하기">
          </div>
        </div>
      </form>
      <!-- Modal profile Structure -->
      <div id ="main_contents">
        <div id="chargecontainer">
          <nav class="top-nav" style="background-color:gray">
            <div class="container">
              <div class="nav-wrapper" style="text-align:center">
                <a class="page-title">CHARGE</a>
              </div>
            </div>
          </nav>
            <form class="" action="#charge" method="post">
              <div class="grey darken-2" style="margin:20px">
              <div style="margin:2em;background-color:#bdbdbd">
            <div sytle="margin-bottom:0" class="row" >
              <div class="input-field s6">
                <input type="number" value="0"name="charge" min="0"id="charge" class="validate" style="text-align:right;color:#9e9e9e;margin:0">
                <label for"charge">충전금액</label>
              </div>
            </div>

            <!-- btn class width:24.5%주면 됨    -->
          <ul>
            <li><a style="width:24%;padding:0" onclick="p('b1')"class="btn waves-effect waves-light grey darken-2"><i class="material-icons">attach_money</i>10만원</a>
                <a style="width:24%;padding:0" onclick="p('b2')" class="waves-effect waves-light btn grey darken-2"><i class="material-icons">attach_money</i>50만원</a>
                <a style="width:24%;padding:0" onclick="p('b3')" class="waves-effect waves-light btn grey darken-2"><i class="material-icons">attach_money</i>100만원</a>
                <a style="width:24%;padding:0" onclick="p('zero')" class="waves-effect waves-light btn grey darken-2">초기화</a>
            </li>
          </ul>
            <br>
          </div>
        </div>
            <input type="submit" value="충전하기" class="grey darken-2"style="width:100%;padding:1em;margin-top:3em">
            </form>
        </div>
      </div>
      <!--JQuery-->
      <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script><!--meterial js -->
      <script type="text/javascript" src="js/jquery.nicescroll.js"></script><!--scrollbar-->
      <script type="text/javascript" src="js/all.js"></script>
      <!-- only charge -->
      <script>
        function p(s){
          var money = parseInt(document.getElementById("charge").value);
          if(s=='b1'){
            document.getElementById("charge").value=money+100000;
          }
          else if(s=='b2')
            document.getElementById("charge").value=money+500000;
          else if(s=='b3')
            document.getElementById("charge").value=money+1000000;
          else {
            document.getElementById("charge").value=0;
          }
        }
      </script>
    </div><!--//body div-->
  </body>
</html>
